<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ecommerce Project</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <% include ./partials/navbar %>

      <%- body -%>

      <hr>

    <% include ./partials/footer %>
    <% include ./partials/javascripts %>
  </body>
</html>
