<% layout('layout') -%>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
      <h1> Passport Demo</h1>
      <p>Sample Express app with local strategy for login</p>
    <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up &raquo;</a></p>
  </div>
</div>
